# These paths are ignored for the Docker build context.
# This file should first contain everything in .gitignore and some additions after those.
# You can use the scripts in the link to ensure that all unnecessary files are ignored.
# https://stackoverflow.com/a/40966234/10930376

# Coverage
.coverage
.coverage.*
coverage.json
coverage.txt
coverage.xml
htmlcov

# Graphing
classes.png
classes.svg
packages.png
packages.svg

# Output files
.test_durations
_build
auto_examples
docs/sg_api_usage.rst
docs/sg_execution_times.rst
examples/fig
gen_modules
logs
mprofile_*.dat
test-results
tests/test_data/fluidprofiles
tests/test_data/graphs
pow_*.txt
pyrefly.txt
ruff.txt
test-output.txt
*.dot
*.eps
*.h5
*.hdf5
*.html
*.lprof
*.npz
*.pdf
*.png
*.svg
*test.txt

# Misc
*.egg-info
*.pyc
*.zip
**/__pycache__
.DS_Store
.env
.idea
.mcp.json
.pytest_cache
.pyrefly_cache
.ruff_cache
.spyproject
.venv
.vscode/*
dev
dist
envs
envs-old
model_data
venv

# Ignored for Docker only
.git
.github
call_graphs
docs
