# These paths are ignored for the Docker build context.
# This file should first contain everything in .gitignore and some additions after those.
# You can use the scripts in the link to ensure that all unnecessary files are ignored.
# https://stackoverflow.com/a/40966234/10930376

# Coverage
.coverage
.coverage.*
coverage.json
coverage.txt
coverage.xml
htmlcov

# Graphing
classes.png
classes.svg
packages.png
packages.svg

# Output files
_build
logs
test-results
tests/test_data/fluidprofiles
tests/test_data/graphs
pow_*.txt
pylint.txt
test-output.txt
*.dot
*.html
*.lprof
*.pdf
*.png
*.svg
*test.txt

# Misc
*.egg-info
*.pyc
**/__pycache__
.idea
.DS_Store
.pytest_cache
.spyproject
dist
envs
model_data
venv

# Ignored for Docker only
.git
.github
call_graphs
docs
