# The files matching the shell expansions are ignored by Git.
# Remember to update .dockerignore as well!
# The following line is empty so that the line numbers match with .dockerignore.
#

# Coverage
.coverage
.coverage.*
coverage.json
coverage.txt
coverage.xml
htmlcov

# Graphing
classes.png
classes.svg
packages.png
packages.svg

# Output files
_build
auto_examples
docs/sg_execution_times.rst
gen_modules
logs
test-results
tests/test_data/fluidprofiles
tests/test_data/graphs
pow_*.txt
pylint.txt
test-output.txt
*.dot
*.hdf5
*.html
*.lprof
*.npz
*.pdf
*.png
*.svg
*test.txt

# Misc
*.egg-info
*.pyc
*.zip
**/__pycache__
.idea
.DS_Store
.pytest_cache
.spyproject
.vscode/*
dist
envs
envs-old
model_data
venv
!.vscode/settings.json
