.spyproject
__pycache__
*.pyc
.idea
.DS_Store
envs
model_data
venv

# Coverage
.coverage
.coverage.*
coverage.json
coverage.txt
coverage.xml
htmlcov

# Graphing
classes.png
classes.svg
packages.png
packages.svg

# Output files
*.dot
*.html
*.lprof
*.pdf
*.png
*.svg
*test.txt
fluidprofiles
logs
pow_*.txt
pylint.txt
test-output.txt
test-results
