.spyproject
__pycache__
*.pyc
.idea
.DS_Store
model_data
venv

# Coverage
.coverage
.coverage.*
coverage.json
coverage.txt
coverage.xml
htmlcov

# Graphing
classes.png
classes.svg
packages.png
packages.svg

# Output files
*.dot
*.html
*.pdf
*.png
*.svg
fluidprofiles
pow_*.txt
*test.txt

# Pylint
pylint.txt
