# List of project requirements for pip
# https://pip.pypa.io/en/stable/user_guide/#requirements-files

# Intel Compile Runtime provides Intel SVML, which speeds up Numba
icc-rt
matplotlib
numba
# NumbaLSODA cannot yet be compiled automatically on the GitHub Actions Windows runners
git+https://github.com/Nicholaswogan/NumbaLSODA.git; sys_platform != "win32"
# If you're using an old version of Numba and get the error:
# "create_target_machine() got an unexpected keyword argument 'jitdebug'"
# then you may have to downgrade llvmlite to 0.32.1
# https://github.com/rapidsai/cuml/issues/2389#issuecomment-642645437
numpy
scipy
# TBB can be used to speed up Numba threading
# https://numba.pydata.org/numba-doc/latest/user/threading-layer.html#which-threading-layers-are-available
tbb
