# The dependency files could be combined with the line below, but this would double-install packages
# if some of the packages are already installed with conda.
# -r requirements.txt
allure-pytest
colorama
# h5py
# orjson
# pandas
# For Numba system info
psutil
pyan3 >=1.1.1, !=1.2.0
pyinstrument >= 3.4.2, < 4.0.0
pylint
pytest
pytest-cov
pytest-html
pytest-xdist
yappi
