# List of project requirements for pip
# https://pip.pypa.io/en/stable/user_guide/#requirements-files

# Intel Compile Runtime provides Intel SVML, which speeds up Numba
icc-rt
matplotlib
numba
numpy
scipy
# TBB can be used to speed up Numba threading
# https://numba.pydata.org/numba-doc/latest/user/threading-layer.html#which-threading-layers-are-available
tbb
